body{
	
	background-color:#FDCC3F;
	
	
	
	
	
}
h1 {color:#000033;}
h2 {color:#003300;}
	p{
	
	}
div{
	background-color:#B1E621;
width:90%;
	border:10px solid #818870 ;
	padding:10px;
}









